* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container{
    border: 2px solid black;
    height: 800px;
}

.col{
    border: 2px solid red;
} */

.container {
    border: 2px solid black;
}

.row {
    height: 800px;
    border: 2px solid rgb(38, 0, 255);
}