* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid palegreen;
    height: 900px;
}

.div {
    border: 2px solid black;
    height: 200px;
    width: 200px;
}