* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid black;
    height: 900px;
    width: 900px;
}

.row {
    width: 900px;
    border: 2px solid red;
}

.col-md-2 {
    border: 2px solid black;
}