* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 3px solid black;
}

.row {
    border: 2px solid red;
}

.col {
    border: 1px solid blue;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}