* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 3px solid black;
}

.row {
  border: 2px solid red;
}

.col,
.col-6,
.col-2,
.col-4 {
  border: 1px solid blue;
  height: 200px;
}

.col-md-6,
.col-sm-3 {
  border: 1px solid blue;
  height: 200px;
}