* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid black;
    text-align: center;
}

ul {
    display: flex;
    gap: 50px;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.Heading {
    background-color: aquamarine;
    border: 2px solid black;
}

.About {
    background-color: blanchedalmond;
    font-size: 20px;
    border: 2px solid;
}

.Main,
.md-4 {
    border: 2px solid black;
    background-color: rgb(0, 72, 255);
}
.md-8 {
    border: 2px solid black;
    background-color: rgb(222, 4, 255);
}

.Footer {
    background-color: blanchedalmond;
    border: 2px solid;
}