*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 2px solid black;
}

.Box{
    border: 2px solid black;
    height: 200px;
}

.col-md-4,
.col-md-3{
    border: 2px solid black;
}