* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid black;
    height: 800px;
}

.col-md-6 {
    margin: auto;
    margin-top: 50px;
    border: 2px solid black;
}