* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px dashed gainsboro;
}

.col-md-4 {
    height: 400px;
    border: 2px dashed gainsboro;
}

.box {
    margin-top: 20px;
}