* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.row {
    border: 2px solid black;
}

.col-md-2 {
    border: 1px solid black;
}