* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid black;
    height: 1500px;
}

.col-md-3 {
    border: 2px solid black;
}

.col-md-6 {
    height: 400px;
    width: 400px;
    border: 2px solid black;
}